<%= require_driver %>

<%= render('layouts/driver_sidebar') %>
<div class="left-menu-space"></div>

<div class="right-content form-right">
  <div class="sub-heading"><h1>Pickup Process Complete!</h1></div>

<p>
  <strong>Id:</strong>
  <%= @pickup.order_id %>
</p>

<p>
  <strong>Collected:</strong>
  <%= @pickup.collected %>
</p>

<p>
  <strong>Signature:</strong>
  <%= @pickup.signature %>
</p>

<p>
  <strong>Charge:</strong>
  <%= @pickup.charge %>
</p>

  </div>