<%= require_operator %>

<p id="notice"><%= notice %></p>

<%= render('layouts/operator_sidebar') %>
<div class="left-menu-space"></div>

<div class="right-content form-right">
  <div class="sub-heading">
    <h1>Operator Account Created</h1>
    <hr>
    <p>Summary of the operator record created</p>
  </div>



  <p>
    <strong>First name:</strong>
    <%= @operator.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= @operator.last_name %>
  </p>

  <p>
    <strong>Company email:</strong>
    <%= @operator.company_email %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= @operator.password %>
  </p>

</div>

