<!-- basic JQuery to hide form submit button until user confirms order -->
<script>
$( document ).ready(function() {
  $( "#initial-submit" ).show();

  $( "#initial-submit" ).click(function() {
    $( "#final-submit" ).show();
    $( "#initial-submit" ).hide();
  });

  $( "#fail-submit" ).click(function() {
    $( "#final-submit" ).hide();
    $( "#initial-submit" ).show();
  });
});

</script>

<%= form_for(order, :html => {class: "form form-right", role: "form"}) do |f| %>
    <%= render("shared/errors", obj: @order) %>
    <%= f.hidden_field(:field, :value => params[session[:user_id]]) %>
    <div class="form-group">
      <label for="no_packages" class="col-sm-4 control-label">Number of Packages</label>
      <div class="col-sm-6">
        <%= f.text_field :no_packages, class: "form-control", placeholder: "No. Packages ie. 3", id: "no_packages" %>
      </div>
    </div>
  <br>
    <div class="form-group">
      <label for="gross_weight" class="col-sm-4 control-label">Gross Weight</label>
      <div class="col-sm-6">
        <%= f.text_field :gross_weight, class: "form-control", placeholder: "Weight (kilograms) ie. 2" %>
      </div>
    </div>
  <br>
    <div class="form-group">
      <label for="pickup_time" class="col-sm-4 control-label">Pickup Time</label>
      <div class="col-sm-6">
        <%= f.text_field :pickup_time, class: "form-control", placeholder: "(hh:mm) ie. 11:15" %>
      </div>
    </div>
    <br>
    <div class="form-group">
      <label for="receiver_name" class="col-sm-4 control-label">Receiver Name</label>
      <div class="col-sm-6">
        <%= f.text_field :receiver_name, class: "form-control", placeholder: "John Doe" %>
      </div>
    </div>
    <br>
    <div class="form-group">
      <label for="receiver_street" class="col-sm-4 control-label">Receiver Street</label>
      <div class="col-sm-6">
        <%= f.text_field :receiver_street, class: "form-control", placeholder: "7 Example Street" %>
      </div>
    </div>
    <br>
    <div class="form-group">
      <label for="receiver_suburb" class="col-sm-4 control-label">Receiver Suburb</label>
      <div class="col-sm-6">
        <%= f.text_field :receiver_suburb, class: "form-control", placeholder: "Camp Hill" %>
      </div>
    </div>
    </br>
    <div class="form-group">
      <label for="receiver_city" class="col-sm-4 control-label">Receiver City</label>
      <div class="col-sm-6">
        <%= f.text_field :receiver_city, class: "form-control", placeholder: "Brisbane" %>
      </div>
    </div>
    </br>
    <div class="form-group">
      <label for="receiver_postcode" class="col-sm-4 control-label">Receiver Postcode</label>
      <div class="col-sm-6">
        <%= f.text_field :receiver_postcode, class: "form-control", placeholder: "4123" %>
      </div>
    </div>
    </br>
    <div class="form-group">
      <label for="receiver_postcode" class="col-sm-4 control-label">Insurance</label>
      <div class="row" id="offset">
        <div class="col-sm-6">
          <div class="radio-inline">
            <label>
              <%= f.radio_button(:insurance, "Yes", class: "") %>
              <%= label_tag(:insurance, "Yes", class: "radiobutton") %>
            </label>
          </div>
          <div class="radio-inline">
            <label>
              <%= f.radio_button(:insurance, "No", class: "") %>
              <%= label_tag(:insurance, "No", class: "radiobutton") %>
            </label>
          </div>
        </div>
      </div>
    </div>
</br>

    <!-- Initial form button, doesn't submit, rather triggers prompt-->
    <div id="initial-submit" style="display: none;">
      <a class="btn btn-primary float-right">Create Order</a>
    </div>



    <div class="form-group" id="final-submit" style="display: none;">
      Is the above information correct?
      <%= f.submit "Yes", class: "btn btn-primary" %>
      <a class="btn btn-primary" id="fail-submit">No</a>
    </div>



<% end %>

