<%= require_customer %>
<p id="notice"><%= notice %></p>

<%= render('layouts/customer_sidebar') %>
<div class="left-menu-space"></div>

<div class="right-content form-right">
    <div class="sub-heading"><h1>Order Submitted</h1></div>

    <p>
      <strong>ID of Customer:</strong>
      <%= @order.customer_id %>
    </p>

    <p>
      <strong>No packages:</strong>
      <%= @order.no_packages %>
    </p>

    <p>
      <strong>Gross weight:</strong>
      <%= @order.gross_weight %>
    </p>

    <p>
      <strong>Pickup time:</strong>
      <%= @order.pickup_time %>
    </p>

    <p>
      <strong>Receiver Name:</strong>
      <%= @order.receiver_name %>
    </p>

    <p>
      <strong>Receiver Street:</strong>
      <%= @order.receiver_street %>
    </p>

    <p>
      <strong>Receiver Suburb:</strong>
      <%= @order.receiver_suburb %>
    </p>

    <p>
      <strong>Receiver City:</strong>
      <%= @order.receiver_city %>
    </p>

    <p>
      <strong>Receiver Postcode:</strong>
      <%= @order.receiver_postcode %>
    </p>

    <p>
      <strong>Receiver Insurance:</strong>
      <%= @order.insurance %>
    </p>

    <p>
      <strong>Order Submitted at:</strong>
      <%= @order.created_at %>
    </p>
</div>


