<div class="row">
  <div class="banner">
    <div class="container">
      <h1 align="center">On the Spot Couriers</h1>
      <p align="center"> On the Spot Couriers is one of Brisbane's leading logistics companies.<br> We will deliver up to two pallets worth of goods same day if booked before 11am, <br>with all other deliveries shipped overnight.</p>
      <p align="center"><%= link_to("Login", customer_login_path, class: "btn btn-success btn-lg") %>
      <%= link_to("Sign Up", new_customer_path, class: "btn btn-default btn-lg") %></p>

    </div>
  </div>
</div>
<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4 contents-middle">
      <h2>About Us</h2>
      <p>On the Spot Delivery has an extensive history which dictates the positive mantra behind our business. Click below to learn more.</p>
      <p><%= link_to("Learn More", aboutus_path, class: "btn btn-default") %></p>
    </div>
    <div class="col-md-4 contents-middle">
      <h2>FAQ</h2>
      <p>If you would like to know more about our service and view questions asked by other customers then view our Frequently Asked Questions Section.</p>
      <p><%= link_to("Learn More", faq_path, class: "btn btn-default") %></p>
    </div>
    <div class="col-md-4 contents-middle">
      <h2>Contact Us</h2>
      <p>Get in contact with us today where we will be happy to answer and respond to any queries and feedback you might have about our service.</p>
      <p><%= link_to("Learn More", contactus_path, class: "btn btn-default") %></p>
    </div>
  </div>
</div>


<br>
<br>
<br>
    <h1 align="center">OUR SERVICE AREA</h1>
<hr>
    <div style="width: 80%; overflow: hidden; height: 1000px; margin-left: auto; margin-right: auto;">

      <iframe src="https://www.google.com/maps/d/embed?mid=1gPiH-UgSOGYf_eLhmljmC4lZ29s" width="100%" height="600" frameborder="0" style="border:0; margin-top: -150px;"></iframe>


  </div>
</div>

