<%= form_for(deliver, :html => {class: "form", role: "form"}) do |f| %>

    <%= render("shared/errors", obj: @deliver) %>
    <div class="form-group">
      <label for="order_id">Corresponding Order ID: </label></br>
        <%= f.collection_select :order_id, @array || [],:to_s, :to_s %>
    </div>

    <br>

    <div class="form-group">
      <label for="collected">Package Delivered: </label></br>
            <label>
              <%= f.radio_button(:package_delivered, "Yes", class: "") %>
              <%= label_tag(:package_delivered, "Yes", class: "radiobutton") %>
            </label>
            <label>
              <%= f.radio_button(:package_delivered, "No", class: "") %>
              <%= label_tag(:package_delivered, "No", class: "radiobutton") %>
            </label>
    </div>



    <div class="form-group" style="">
      <label for="charge">Receiver Signature: </label></br>
        <div class="sigPad">
          <label for="name">Print your name</label>
          <input type="text" name="name" id="name" class="name" style="">
          <p class="typeItDesc">Review your signature</p>
          <p class="drawItDesc">Draw your signature</p>
          <ul class="sigNav">
            <li class="typeIt"><a href="#type-it" class="current">Type It</a></li>
            <li class="drawIt"><a href="#draw-it" >Draw It</a></li>
            <li class="clearButton"><a href="#clear">Clear</a></li>
          </ul>
          <div class="sig">
            <div class="typed"></div>
            <canvas class="pad" width="200" height="55"></canvas>
            <%= f.hidden_field :signature, {:class => 'output', :name => 'signature'} %>
          </div>
        </div>
    </div>


      <%= f.submit class: "btn btn-primary float-right" %>

<% end %>


<script>
  $(document).ready(function() {
    $('.sigPad').signaturePad();
  });
</script>

