<%= require_operator %>

<p id="notice"><%= notice %></p>

<%= render('layouts/operator_sidebar') %>
<div class="left-menu-space"></div>

<div class="right-content form-right">
  <div class="sub-heading">
    <h1>Payment Complete</h1>
    <hr>
  </div>

  <p>
    <strong>Order:</strong>
    <%= @payment.order_id %>
  </p>

  <p>
    <strong>Paid:</strong>
    <%= @payment.paid %>
  </p>

</div>

