<%= render("shared/errors", obj: @driver) %>
<%= form_for(driver, :html => {role: "form"}) do |f| %>

    <div class="form-group">
      <label for="company_email">Company Username</label>
        <%= f.text_field :company_email, class: "form-control", placeholder: "left part of your company email" %>
    </div>

    <div class="form-group">
      <label for="first_name">First Name</label>
        <%= f.text_field :first_name, class: "form-control", placeholder: "John" %>
    </div>

    <div class="form-group">
      <label for="last_name">Last Name</label>
        <%= f.text_field :last_name, class: "form-control", placeholder: "Doe" %>
    </div>

    <div class="form-group">
      <label for="assigned_truck_rego">Assigned Truck Rego</label>
        <%= f.text_field :assigned_truck_rego, class: "form-control", placeholder: "195JDA" %>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
        <%= f.password_field :password, class: "form-control", placeholder: "Picked By Driver" %>
    </div>


    <%= f.submit class: "btn btn-primary button-float" %>

<% end %>

