<%= require_operator %>

<p id="notice"><%= notice %></p>

<%= render('layouts/operator_sidebar') %>
<div class="left-menu-space"></div>

<div class="right-content form-right">
  <div class="sub-heading">
    <h1>Driver Account Created</h1>
    <hr>
    <p>Summary of the driver record created</p>
  </div>


  <p>
    <strong>First name:</strong>
    <%= @driver.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= @driver.last_name %>
  </p>

  <p>
    <strong>Company email:</strong>
    <%= @driver.company_email %>
  </p>

  <p>
    <strong>Assigned truck rego:</strong>
    <%= @driver.assigned_truck_rego %>
  </p>
</div>
