<!--order status partial-->
<!-- variables: o_id : order id number-->
<!-- variables: tracker : number of steps in process completed-->

<%  local_tracker = tracker %>

<div class="panel panel-default order-state">
  <div class="panel-heading" style="overflow: auto;">
    <h4 class="panel-title">
      <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#<%= collapse %>">

        <div class="status-title" style="width: 50%; float: left;">
          Order ID: <%= id %> Date Placed: <%= time %>
        </div>
        <div class="progress progress-format" style="margin: 0px; width: 50%; float: right;">
          <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar"
               aria-valuenow="<%= percentage %>" aria-valuemin="0" aria-valuemax="100" style="width:<%= percentage %>%">
            <%= percentage %>%
          </div>
        </div>

      </a>
    </h4>
  </div>
  <div id="<%= collapse %>" class="panel-collapse collapse">
    <div class="panel-body">
      <table class="status-table">
        <tr class="header-row-order-status">
          <td>Current Order Status: </td>
          <td class="success"><%= status %></td>
        </tr>
        <% if local_tracker > 0 %>
            <tr>
              <td>Pickup Time: </td>
              <td>
                <div class="progress status-inner-progress-bar">
                  <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar"
                       aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:40%">
                    Total Time: 2 Hours
                  </div>
                </div>
              </td>
            </tr>
            <% local_tracker -= 1 %>
        <% end %>

        <% if local_tracker > 0 %>
            <tr>
              <td>Check In Time: </td>
              <td>
                <div class="progress status-inner-progress-bar">
                  <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar"
                       aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:80%">
                    Total Time: 6 Hours
                  </div>
                </div>
              </td>
            </tr>
            <% local_tracker -= 1 %>
        <% end %>

        <% if local_tracker > 0 %>
            <tr>
              <td>Delivery Time: </td>
              <td>
                <div class="progress status-inner-progress-bar">
                  <div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar"
                       aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:90%">
                    Total Time: 7 Hours
                  </div>
                </div>
              </td>
            </tr>
            <% local_tracker -= 1 %>
        <% end %>
      </table>
    </div>
  </div>
</div>
<!--partial end-->