<div class="left-menu">
  <h1>
    Operator Dashboard
  </h1>
  </br>
  <ul class="nav nav-links">
    <li><%= link_to("View New Orders", new_orders_page_path ) %></li>
    <li><%= link_to("Order Tracking Information", in_progress_orders_page_path ) %></li>
    <li><%= link_to("Orders Awaiting Charge", unpaid_orders_page_path ) %></li>
    <li><%= link_to("Complete Orders", complete_orders_page_path ) %></li>
    <li><%= link_to("Add Driver Account", new_driver_path ) %></li>
    <li><%= link_to("Add Operator Account", new_operator_path ) %></li>
  </ul>

</div>